.top-menu-desktop {
    margin: 35px 0;
}

.logo-img {
    width: 122px;
}

.location-btn {
    background: none;
    border: none;
}

.location-btn-text {
    margin-left: 5px;
    font-size: 14px;
    text-align: left;
    color: #2abb9b;
    white-space: nowrap;
}

.yellow {
    color: #ffc244;
}

.login-btn {
    background: none;
    border: none;
    margin-left: 5px;
}

.orders-btn {
    background: none;
    border: none;
    margin-left: 5px;
}

.login-btn>img, .orders-btn>img {
    width: 31px;
}

.location-btn:hover,.login-btn:hover,.orders-btn:hover {
    opacity: .8;
}

/* MOBILE MENU STLES */

.top-menu-mobile {
    margin: 10px;
}

.orders-img-mobile {
    width: 28px;
}

.logo-img-mobile {
    width: 76px;
    margin-top: -5px;
}

.search-img-mobile {
    height: 25px;
}