.DomingoSignIn{
    background-color: #ffc244;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: Gotham, Arial, Helvetica Neue, Helvetica, sans-serif;
}
.DomingoSignInHeader{
    height: 15vh;
    width: 100vw;
}
.DomingoSignInBodyRegisterFormHeader{
    margin-bottom: 10vh;
}
.DomingoSignInBodyRegisterFormDiv{
    border-radius: 50px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: fit-content;
    width: fit-content;
    background-color: white;
    margin-left: 33vw;
    margin-right: 33vw;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
}
.DomingoSignInBodyRegisterForm{
    width: 100%;
    height: 100%;
}
.DomingoSignInBodyRegisterFormŃameField{
    margin-top: 2vh;
}
.DomingoSignInBodyRegisterFormNameInputTxt{
    position: absolute;
    margin-top: -5px;
    font-size: 18px;
    line-height: 1.33;
    color: #9b9b9b;
    transition: .3s;
    text-align: left;

}
.DomingoSignInBodyRegisterFormNameInput{
    color: #333;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid  #cacaca;
    border-radius: 0;
    padding: 0 0 10px;
    overflow: hidden;
    caret-color: #2abb9b;
    display: inline-block;
    margin-bottom: 15px;
    text-align: right;


}
.DomingoSignInBodyRegisterFormSubmitButton {
    background-color: #2abb9b;
    color: white;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.7px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    max-width: 340px;
    min-width: 120px;
    min-width: 120px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.1);
    padding: 10px;

}

.DomingoSignInBodyRegisterFormSubmitButton:hover {
    background-color: #00a082;
    transition: .3s;
}