body {
    font-family: Arial;
}

/* ESTILOS DEL HEADER DESKTOP */

.header-desktop {
    background-color: #ffc244;
    padding: 35px 0;
}

.main-desktop {
    background-color: #ffc244;
    height: 93vh;
    min-height: 700px;
}

.search-btn-desktop {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.search-btn-desktop:hover {
    opacity: 0.8;
    transition: .3s;
}

.search-btn-desktop>img {
    margin-right: 10px;
}

.register-btn-desktop {
    width: 120px;
    height: 43px;
    background-color: #2abb9b;
    color: white;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.1);

}

.register-btn-desktop:hover {
    background-color: #00a082;
    transition: .3s;
}

.login-btn-desktop {
    width: 120px;
    height: 43px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.1);
}

.login-btn-desktop:hover {
    background-color: #f5f5f5;
    transition: .3s;
}

/* ESTILOS DEL HEADER MOBILE */

.header-mobile {
    padding: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1),0 2px 2px 0 rgba(0,0,0,.07),0 0 0 0 rgba(0,0,0,.07);
}

.login-btn-mobile {
    background: none;
    border: none;
}

.city-selector-mobile {
    background: none;
    border: none;
    color: #2abb9b;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.city-selector-mobile:hover {
    filter: brightness(70%);
    transition: .3s;
}

.search-btn-mobile {
    background: none;
    border: none;
}

/* ESTILOS DE LA SECCIÓN PRINCIPAL DESKTOP */

.main-desktop {
    padding-top: 35px;
    background-color: #ffc244;
    background-image: url('https://res.cloudinary.com/glovoapp/image/fetch///https://glovoapp.com/images/svg/curve.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-top: 40px;
}

.select-city {
    color: #00a082;
    cursor: pointer;
}

.select-city:hover {
    filter: brightness(70%);
    transition: .3s;
}

.main-subtitle {
    color: white;
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 600;
}

.category-btn {
    width: 115px;
    height: 115px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 17px 0 #e19f17;
    margin: 13px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

.category-btn:hover {
    transform: scale(1.12);
    transition: .3s;
    box-shadow: 2px 6px 20px 4px rgba(225,159,23,.36);
}

/* ESTILOS DE LA SECCIÓN PRINCIPAL MOBILE */

.main-mobile {
    background-color: #ffc244;
    background-image: url('https://res.cloudinary.com/glovoapp/image/fetch///https://glovoapp.com/images/svg/curve.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.main-mobile,.main-mobile>.container,.main-mobile>.container>.row {
    height: 93vh;
}

.relative {
    position: relative;
}

.category-btn-mobile {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 17px 0 #e19f17;
}

.category-btn-mobile-1 {
    position: absolute;
    width: 125px;
    height: 125px;
}

.category-btn-mobile-1:hover {
    transform: scale(1.12);
    transition: .3s;
}

.category-btn-mobile-2 {
    position: absolute;
    top: -165px;
}

.category-btn-mobile-3 {
    position: absolute;
    top: -115px;
    left: 57px;
}

.category-btn-mobile-4 {
    position: absolute;
    top: 22px;
    left: 57px;
}

.category-btn-mobile-5 {
    position: absolute;
    top: 75px;
}

.category-btn-mobile-6 {
    position: absolute;
    top: 22px;
    left: -146px;
}

.category-btn-mobile-7 {
    position: absolute;
    top: -115px;
    left: -146px;
}

/* ESTILOS DE LA SECCIÓN TRENDING HIGHLIGHTS */

h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}