.store_info_header{
    padding: 10px 20px 30px;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    text-align: left;
    width: 67%;
    font-family: Gotham, Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;


}
.store_info_header_section{
    font-size: 14px;
    line-height: 1;
    color: #9b9b9b;
    padding:0px;


}
p{
    display: inline-block;
}
.store_info_header_section_store_gold{
    color: gold;
    display: inline-block;
}
.store_info_header_storedescription{
    color: #9b9b9b;
    font-weight: 700;
    height: 14px;
    line-height: 24.15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
}
.store_info_header_storename{
    color: black;
    color: rgb(0, 0, 0);

    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    text-align: left;
}