/**********************/
/* OUTER BOXES STYLES */
/**********************/

.loginmodalbox {
    margin: auto;

    width: 540px;
    box-shadow: 0 2px 20px 12px rgba(225,159,23,.43);
    border-radius: 10px;
    padding: 80px 40px 40px 40px;
}

.loginmodalboxwrapper {
    height: 444px;
    margin: 0 auto;
}

/***********************/
/* CLOSE BUTTON STYLES */
/***********************/

.closebtnbox {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;
}

.closebtn,.closebtn:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.closebtn>svg {
    font-size: 34px;
}

/**************************/
/* FORM AND FIELDS STYLES */
/**************************/

form {
    width: 400px;
    margin: 0 auto;
}

.field-row {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.field-input {
    width: 100%;
}

.field-icon {
    display: flex;
    align-items: flex-end;
    margin: 5px;
}

.field-icon>svg {
    font-size: 25px;
    color: #4a4a4a;
    margin: 5px;
}

/**************************/
/* FORGOT PASSWORD STYLES */
/**************************/

.forgotpwd {
    text-align: right;
    font-size: 14px;
    width: 400px;
    margin: 10px auto 0 auto;
}

.forgotpwd>a {
    color: #2abb9b;
    text-decoration: none;
}

.forgotpwd>a:hover {
    color: #00a082;
}

/************************/
/* LOG IN BUTTON STYLES */
/************************/

.loginbtnbox {
    display: flex;
    justify-content: center;
}

.loginbtn {
    width: 340px;
    height: 50px;
    text-transform: uppercase;
    background-color: #2abb9b;
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: 400;
    margin-top: 30px;
}

.loginbtn:hover {
    background-color: #00a082;
}

/**************************/
/* REGISTER BUTTON STYLES */
/**************************/

.registerbtn>p {
    text-align: center;
    margin-top: 30px;
    color: #9b9b9b;
    font-size: 14px;
}

.registerbtn>p>a {
    color: #2abb9b;
    text-decoration: none;
}

.registerbtn>p>a:hover {
    color: #00a082;
}

/**********/
/* OTHERS */
/**********/

h2 {
    text-align: center;
    font-weight: 600;
}

.errorLoginBox {
    color: red;
    width: 100%;
    text-align: center;
}